<!DOCTYPE html>
<html>
	<head>
		<title>enduro.js page</title>
		<link rel="stylesheet" href="/assets/css/main.css">
		<style type="text/css"></style>
	</head>
	<body>
		<p>Hey {{greeting}}</p>
		<p>Enduro is {{superlative}}</p>
		
		<form name="contact" netlify>
  <p>
    <label>Your Name: <input type="text" name="name"></label>   
  </p>
  <p>
    <label>Your Email: <input type="email" name="email"></label>
  </p>
  <p>
    <label>Message: <textarea name="message"></textarea></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>

		{{>end}}
	</body>

	{{!-- <script data-main="/assets/js/main.js" src="/assets/vendor/requirejs/require.js"></script> --}}
</html>
