<!DOCTYPE html>
<html>
	<head>
		<title>{{blog_title}} | enduro.js page</title>
		<link rel="stylesheet" href="/assets/css/main.css">
		<style type="text/css"></style>
	</head>
	<body>
<article>

	
    <h1>{{blog_title}}</h1>
    <p>{{blog_text}}</p>
</article>
		{{>end}}
	</body>

	{{!-- <script data-main="/assets/js/main.js" src="/assets/vendor/requirejs/require.js"></script> --}}
</html>


